@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
*{
    margin:0;
    padding:0;
    font-family: Montserrat;
    
}

body{
font-family: Montserrat;
font-weight: 500;
color: black;
background-color: #edeef0;
}
/* fixtures */
.container-fix{
    
    width: 94%;
    height: 90vh;
    margin: 1%;
    align-items: center;
    /* background-color: lightgray; */
    padding: 1%;

}
.fs{
    font-size: 1em;
}
 .qualifier{
    width: 25%;
    height: 70vh;
    padding: 1%;
    margin: 1%;
    border: 2px solid rgb(247, 245, 245);
    border-radius: 5px;

}
.semiFinal{
    width: 25%;
    height: 35vh;
    padding: 1%;
    margin: 1%;
    border: 2px solid rgb(248, 245, 245);
    border-radius: 5px;
}

.final{
    width: 25%;
    height: 17vh;
    padding: 1%;
    margin: 1%;
    border: 2px solid rgb(248, 250, 249);
    border-radius: 5px;
}
.set{
    width: 95%;
    height: 15vh;
    padding: 1%;
    margin: 1%;
    border: 1.5px solid orangered;
    border-radius: 5px;

}
.card1{
    width: 29%;
    height: 13vh;
    padding: 1%;
    margin: 1%;
    
    background-color: white;
}
h3{
    margin: 5vh auto auto auto;
    border: 1px solid orangered;
    border-radius: 70px;
    background-color: orangered;
    color: white;
    transform: scale(1.00);
   box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
#result{
  border:none;
  background-color: rgb(7, 131, 13);
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.csk-img{
    width: 80%;
    margin-left: 10%;
}
.kkr-img{
    width: 45%;
    margin-left: 25%;
}
.dc-img{
    width: 70%;
    margin-left: 15%;
}
.kxi-img{
    width: 60%;
    margin-left: 20%;
}
.rcb-img{
    width: 48%;
    margin-left: 20%;
}
.rr-img{
    width: 70%;
    margin-left: 20%;
}
.shr-img{
    width: 70%;
    margin: 2vh auto auto 20%;
}
.mi-img{
    width: 100%;

}
.logo-text{
    font-size: 1em;
    font-weight: 700;
    color: #f05136;
}
.logo-img{
    height: 1em;
    width: 1em;
}
nav ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px;
}

nav ul li{
    margin: 0 20px;
}
.nav-link{
    font-size: 0.8em;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.nav-link:hover{
    color: #f05136;
}
.navcol{ 
    background-color:#ff5050;
    font-size: 2em;
}
.footer{
    background-color: blueviolet;
    text-align: center;
    height:3em;
    width:100%;
    padding-top: 90px;
    color: cornsilk;
}